body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1f2933;
    padding: 25px;
    border-radius: 10px;
    width: 340px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

img {
    width: 200px;
    margin-top: 15px;
    border-radius: 8px;
}
